body {
    margin: 0;
    padding: 0;
    background-color: black;
}

div {
    width: 100%;
    max-width: 850px;
    height: auto;
    background-color: rgb(66, 62, 62);
    justify-items: center;
    justify-self: center;
}

.header {
    display: flex;
    width: 40%;
    position: relative;
    top: 5px;
    right: 230px;
    gap: 10px;
}


.header h1 {
    color: white;
    margin:0 0 0 0;
    
}

.header p {
    color: white;
    font-size: 10px;
    margin: 0 0 50px 0;
    line-height: 1.6;
}

.main h1 {
    color: white;
    width: 90%;
    font-size: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.main p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 55%;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

/* .form {
    display: flex;
    align-items: center;
} */

label {
    color: white;
    font-size: 10px;
    margin-right: 80px;

}


#last {
    font-size: 10px;
   margin-bottom: -30px;
   margin-left: 80px;
}

input[type="text"] {

}





