body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.head-container {
    padding: 20px;
    text-align: start;
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 0 auto;
    max-width: 449px;
    border: 1px solid #ddd;
}

.head-container p {
    font-size: 14px;
    font-style: italic;
    
}

.head-container h1 {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head-container h1 .head-container p {
    margin: 1px;
}

.form-container {
    background-color: white;
    padding: 20px;
    color: black;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
     background: linear-gradient(120deg, #f8f4f5, #e5a8b6);
}


.form-container h1 {
    text-align: start;
    font-family:Cambria, Cochin, Georgia, Times, serif;
    font-weight: bold;
}


input[type="text"], input[type="email"], input[type="tel"] {
    display: inline;
    width: 50%;
    gap: 20px;
    padding: 5px;
    margin: 5px 0px 0px 20px;
    border: 1px solid #000;
    box-shadow: 2 0 0 2 solid #000;
    
}
#name {
    width: 50%;
    margin: 10px 0px 0 30px;
}

#address {
    width: 78%;
    margin: 0 0 5px 14px;
}

#gender {
    width: 10%;
    margin: 10px 0 5px 0;
}

#email {
    width: 78%;
    margin: 0 0 5px 33px;
}

#phone {
    width: 40%;
    margin: 0 0 10px 27px;
}

textarea {
    display: block;
    width: 430px;
    height: 80px;
}

#submit {
    display: inline-block;
    padding: 5px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: 1px solid black;
}

#submit:hover {
    background-color: grey;
    transition: 0.5s;
    border: 2px solid khaki;
}